@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
	list-style: none;
	outline: none;
	box-sizing: border-box;
	border: 0;
	font-family: -apple-system, BlinkMacSystemFont, PingFang SC, SanFranciscoDisplay, Hiragino Sans GB, Microsoft YaHei, 微软雅黑, sans-serif, tahoma, arial, \5b8b\4f53;
	font-weight: 400
}

body {
	background: #eee;
	font-size: 15px;
}

a {
	color: #036;
}

.bg {
	background-image: url(../images/bg.png?191127);
}

.logo {
	margin: 0 auto;
	margin-top: 50px;
	width: 151px;
	height: 160px;
	background-repeat: no-repeat;
	background-position: 0 0;
	text-indent: -1000px;
}

.content {
	margin: 10px auto;
	max-width: 600px;
	margin-top: 20px;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content h2 {
	display: block;
	margin: 0;
	padding: 0;
	font-family: Georgia, serif;
	font-size: 44px;
	font-style: italic;
}

.site_list {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 330px;
}

.site_list li {
	display: block;
	margin: 0;
	padding: 0;
}

.site_list a {
	display: block;
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	overflow: hidden;
	text-indent: -500px;
}

.sina_link {
	background-position: 0 -160px;
}

.sina_link:hover {
	background-position: 0 -200px;
}

.github_link {
	background-position: -40px -160px;
}

.github_link:hover {
	background-position: -40px -200px;
}

.oschina_link {
	background-position: -80px -160px;
}

.oschina_link:hover {
	background-position: -80px -200px;
}

.gitee_link {
	background-position: -120px -160px;
}

.gitee_link:hover {
	background-position: -120px -200px;
}

.douban_link {
	background-position: -160px -160px;
}

.douban_link:hover {
	background-position: -160px -200px;
}

.weixin_link {
	background-position: -200px -160px;
}

.weixin_link:hover {
	background-position: -200px -200px;
}

.foot {
	border-top: 1px solid #ccc;
	margin: 20px auto;
	padding: 10px;
	max-width: 620px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.foot .left {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.foot .left li {
	display: block;
	margin: 0;
	line-height: 20px;
}

.copyright {
	padding: 0;
	padding-right: 8px;
}

.site {
	border-left: 1px solid #000;
	padding: 0 8px;
}

@media (max-width:640px) {
	.bg {
		background-size: 120px auto;
	}
	.logo {
		width: 76px;
		height: 80px;
	}
	.content {
		padding: 0 10px;
	}
	.content h2 {
		font-size: 30px;
	}
	.site_list {
		width: 260px;
	}
	.site_list a {
		width: 20px;
		height: 20px;
	}
	.sina_link {
		background-position: 0 -80px;
	}
	.sina_link:hover {
		background-position: 0 -100px;
	}
	.github_link {
		background-position: -20px -80px;
	}
	.github_link:hover {
		background-position: -20px -100px;
	}
	.oschina_link {
		background-position: -40px -80px;
	}
	.oschina_link:hover {
		background-position: -40px -100px;
	}
	.gitee_link {
		background-position: -60px -80px;
	}
	.gitee_link:hover {
		background-position: -60px -100px;
	}
	.douban_link {
		background-position: -80px -80px;
	}
	.douban_link:hover {
		background-position: -80px -100px;
	}
	.weixin_link {
		background-position: -100px -80px;
	}
	.weixin_link:hover {
		background-position: -100px -100px;
	}
}

@media (max-width:490px) {
	.content {
		display: block;
		height: auto;
		padding: 0 20px;
	}
	.content h2 {
		width: 100%;
		text-align: center;
		padding: 10px 0;
	}
	.site_list {
		width: 100%;
	}
}

@media (max-width:420px) {
	.foot {
		display: block;
	}
	.poweredby {
		margin-top: 10px;
	}
}