html, body {
	margin: 0;
	padding: 0;
	background: #eee;
	font-size: 15px;
	font-family: Arial, Arial, Helvetica, sans-serif;
}
a {
	color: #036;
}
.logo {
	margin: 20px auto;
	padding: 0;
	padding-top: 20px;
	text-align: center;
	display: block;
}
.logo li {
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 200px;
	height: 200px;
	margin: 40px;
}
.logo a {
	background-image: url(../images/bg.png);
	background-repeat: no-repeat;
	display: inline-block;
	width: 200px;
	height: 200px;
	overflow: hidden;
	text-indent: -500px;
}
#piscdong_link {
	background-position: 0 0;
}
#piscdong_link:hover {
	background-position: 0 -200px;
}
#miniclass_link {
	background-position: -200px 0;
}
#miniclass_link:hover {
	background-position: -200px -200px;
}
.content {
	margin: 10px auto;
	width: 600px;
	padding-top: 20px;
	clear: both;
	height: 60px;
}
.content h1 {
	display: block;
	margin: 0;
	padding: 0;
	padding-left: 20px;
	width: 250px;
	float: left;
	font-family: Georgia, serif;
	font-size: 44px;
	font-style: italic;
	font-weight: normal;
}
.site_list {
	margin: 0;
	padding: 0;
	margin-left: 275px;
	display: block;
}
.site_list li {
	display: block;
	margin: 0;
	padding: 0;
	width: 40px;
	height: 40px;
	margin: 5px 11px;
	float: left;
}
.site_list a {
	display: block;
	width: 40px;
	height: 40px;
	background-image: url(../images/bg.png);
	background-repeat: no-repeat;
	overflow: hidden;
	text-indent: -500px;
}
.sina_link {
	background-position: 0 -400px;
}
.sina_link:hover {
	background-position: 0 -440px;
}
.github_link {
	background-position: -40px -400px;
}
.github_link:hover {
	background-position: -40px -440px;
}
.oschina_link {
	background-position: -80px -400px;
}
.oschina_link:hover {
	background-position: -80px -440px;
}
.gitosc_link {
	background-position: -120px -400px;
}
.gitosc_link:hover {
	background-position: -120px -440px;
}
.douban_link {
	background-position: -160px -400px;
}
.douban_link:hover {
	background-position: -160px -440px;
}
.foot {
	display: block;
	border-top: 1px solid #ccc;
	margin: 20px auto;
	padding: 10px;
	width: 600px;
	clear: both;
}
.foot li {
	display: block;
	margin: 0;
}
.copyright {
	float: left;
	padding: 0;
	padding-right: 8px;
}
.site {
	border-left: 1px solid #000;
	float: left;
	padding: 0 8px;
}
.poweredby {
	float: right;
	padding: 0;
}